<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MyChannel</title>
    <link rel="stylesheet" href="/css/userSettings.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
  </head>
  <body onload="initialize('{{email}}')">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.1/firebase-firestore.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyCy-4bk1CLzz69tUowLRr-00NtS4QTCKAM",
        authDomain: "mychannel-1595185361229.firebaseapp.com",
        databaseURL: "https://mychannel-1595185361229.firebaseio.com",
        projectId: "mychannel-1595185361229",
        storageBucket: "mychannel-1595185361229.appspot.com",
        messagingSenderId: "366836412672",
        appId: "1:366836412672:web:f0a954c96a0f60d08343e5",
        measurementId: "G-EN6TND4ZFG"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
  </script>
  <script>
    async function testdb() {
      try {
        var id = 'K3DYMEHP4CWNH';
        var db = firebase.firestore();
        let doc = db.collection('devices').doc(id);
        let snapshot = await doc.get();
        let entity = snapshot.exists ? snapshot.data() : null;

        console.log('got device:');
        console.log(JSON.stringify(entity));
      }
      catch (err) {
        console.log(err);
      }
    }
  </script>
    <header class="header"></header>
    <div class="content">
      <div class='welcomeSection'>
        <div class='welcomeHeader'>Welcome To MyChannel</div>
        <div class='description'>Please allow this page to detect your location to personalize your channel.</div>
      </div>
      <div id="userSection">
        <img class="userProfilePictureOverlay" src="{{picture}}">
        <div class="userName">{{firstName}} {{lastName}}</div>
        <div class="userEmail">{{email}}</div>
      </div>
      <div id='locationSection'>
        <div id='registrationCodeSection'>
          <div id='registrationCodeDesc'>Code On TV:</div>
          <input type="text" id="registrationCode" name="registrationCode"/>
        </div>
        <div id='zipCodeSection'>
          <div id='zipDesc'>Zip Code:</div>
          <input type="text" id="zipCode" name="zipCode"/>
        </div>
        <div class='saveSection'>
          <button class='saveButton' onclick='completeRegistration()'>Complete Registration</button>

          <button onclick="testdb()">Test DB</button>
        </div>
      </div>
    <!--  <div id='map'></div> -->
    </div>
     <footer class="footer"></footer>
    <div id='notificationSection'></div>
  </body>
</html>
